.navbar {
    background: #165215;
    color: white !important;
    font-size: 20px;
}

a.nav-link {
    color: white !important;
    font-size: 16px !important;
}

.background {
    background-image: url("../main.png");
    background-size: cover;
    background-position: center;
    width: 100%;
    text-align: center;
    color: white;
    padding: 100px 0;
}

.text-box {
    border-radius: 10px;
    text-align: center;
    display: inline-block;
}

.text-box h1 {
    background-color: #414244;
    margin: 0;
    font-size: 56px;
    padding: 10px;
    border: 2px solid white;

}

.text-box p {
    background-color: #414244;
    font-size: 18px;
    margin: 20px;
    padding: 5px;
    border: 1px solid white !important;
}

.bl-bg-dv {
    background: black;
    padding: 20px;
    margin: 0;
    color: white;
}

.col-lg-3 {
    padding: 50px;
    text-align: center;
}

.col-lg-3 img {
    height: 100px;
    width: 100px;
    border-radius: 50px;
    border: 1px solid white;
}

.col-lg-3 button {
    color: white;
    background: green;
    cursor: pointer;
}

.text-limit {
    max-height: 7.5em;
    overflow: hidden;
}

.text-expanded {
    max-height: none;
    overflow: visible;
}

.carousel-container {
    width: 100%;
    background: black;
    overflow: hidden;
    padding-top: 50px;
    padding-bottom: 50px;
}

.carousel-images {
    display: flex;
    transition: transform 1s ease-in-out;
}

.carousel-image {
    width: 100%;
    height: auto;
    padding: 20px;
}


.py-5 {
    padding: 10px !important;
    display: flex;
    justify-content: center;


}

.py-5 a {
    margin-left: 65px !important;
    background: black !important;
}

.py-5 h3 {
    color: white !important;
}

.footer {
    text-align: center;
    background: #165215;
    color: #fff;
    padding: 20px 0;
}

.logo {
    max-width: 100px;
    margin-bottom: 10px;
}

.fab {
    margin: 10px;
}

.social-icons a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}

.address {
    font-size: 14px;
}

.ftr-img {
    height: 60px !important;
}

.fltr {
    filter: brightness(0) invert(1) !important;
}

.d-none {
    font-weight: 20px;
    color: white !important;
}

.navbar-nav {
    text-align: right;
}

@media (max-width: 991px) {
    .navbar-nav .nav-item {
        border-bottom: 1px solid white;
        padding: 5px;
    }
}

.tbx {
    font-size: 30px;
}

@media (max-width: 767px) {
    .tbx h1 {
        font-size: 30px;

    }

    .carousel-image {

        height: 100px;
        width: 100px;
    }

    .py-5 h3 {
        font-size: 20px;
    }

    .text-box h1 {
        font-size: 40px !important;
    }

    img.fltrr {
        height: 55px;
        width: 78px;
        filter: brightness(0) invert(1) !important;
    }
}

img.fltrr {

    filter: brightness(0) invert(1) !important;
}

.footer {
    padding: 10px;
}

.navbar-toggler-icon {
    background-color: transparent !important;
    border: 2px solid white !important;
    width: 24px;
    height: 3px;
}

.navbar-toggler-icon:focus {
    outline: none !important;
    border: 2px solid white !important;
    box-shadow: none !important;
}

.navbar-light .navbar-toggler:focus {
    box-shadow: none !important;
}

